// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyB8UiwKe0YeQcuLiB8mIwcBlPlb_6qb9Q4",
  authDomain: "whispr-chromebook.firebaseapp.com",
  projectId: "whispr-chromebook",
  storageBucket: "whispr-chromebook.firebasestorage.app",
  messagingSenderId: "920349339998",
  appId: "1:920349339998:web:35e979d9033ed411f39fcf",
  measurementId: "G-C5D8X44W4Z"
};